* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: "loopy-font", sans-serif;

}

@font-face {
    font-family: loopy-font;
    src: url(./assets/loopy/LOOPY___.ttf);
}

body {
    background-color: black;
}

h1 {
    color: white;
    font-size: 64px;
    margin-bottom: 16px;
    text-align: center;
}

.container {
    background-color: rgb(187, 203, 252);
    height: 700px;
    width: 500px;
    margin: auto;
    border: 30px rgb(0, 27, 82) double;
    border-radius: 40px;
}

.display {
    background-color: rgb(217, 243, 255);
    font-size: 48px;
    height: 100px;
    margin: 16px;
    text-align: right;
}

.numbers {
    padding: 20px;
}